<section class="max-w-screen-lg mx-auto text-center py-4 lg:py-24">

  <h3 class="text-4xl font-bold tracking-tight dark:text-gray-200">{{ .intro | safeHTML }}</h3>
  
  {{ with .subintro }}
    <p class="leading-tight dark:text-gray-200 py-4">{{ . | safeHTML }}</p>
  {{ end }}

  <div class="flex flex-wrap justify-center">
    {{ range .cards }}
      <div class="p-4 max-w-sm mx-auto text-center">
        <img class="mx-auto px-4" src="{{ .img }}" height="100px" width="100px" alt="Icon" />
        <div class="p-4">
          <h5 class="text-2xl font-bold tracking-tight dark:text-gray-200 ">{{ .title }}</h5>
          <small class="text-sm mb-3 dark:text-gray-100 text-gray-600">{{ .sub }}</small>
        </div>      
      </div>
    {{ end }}
  </div>

</section>