<a href="{{ .Permalink }}">
  <div style="transition: transform 0.3s ease-in-out;" class="ani hover:scale-110 dark:bg-gray-800 bg-white rounded-lg overflow-hidden shadow-lg transition-shadow duration-200">
    <div class="aspect-[16/9] w-full overflow-hidden">
      <img loading="lazy" src="{{ .Params.image | relURL }}" alt="{{ $.Title }}" class="w-full h-full object-cover">
    </div>
    <div class="p-4">
      <p class="text-sm leading-3 text-gray-800 dark:text-gray-200 pb-2">{{ .Params.heading }}</p>
      <h3 class="leading-4 text-lg font-semibold text-gray-800 dark:text-white hover:text-blue-600">
        {{ .Title }}
      </h3>
      {{- if .Params.showdate }}
          <div class="leading-none py-2 text-gray-500 text-sm">
             {{ .Params.date.Format "January 2, 2006"  }}
          </div>
        {{- end }}
    </div>
  </div>
</a>