<footer style="background-color: teal;" class="pt-5">
  <div class="container px-4 py-12 mx-auto max-w-4xl grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
    <div class="col-span-1">
      <a href="/help" class="zoom-sm">
        <div class="text-2xl font-bold text-white mb-2">{{ i18n "follow" }} &rarr;</div>
        <p class="opacity-80 text-white">{{ i18n "building" }}</p>
      </a>      
    </div>
    <div class="col-span-1">
        {{ partial "subs.html" . }}      
      <div class="flex justify-center gap-x-3 flex-wrap gap-y-2">
        {{ range .Site.Params.social }}
          <a href="{{ .url }}" target="_blank" rel="noopener" aria-label="{{ .name }}" class="text-gray-300 hover:text-white hover:border-gray-100 dark:text-gray-300 dark:hover:border-gray-100 dark:hover:text-white p-1 inline-block rounded-full border border-transparent cursor-pointer transition-colors">{{ .icon | safeHTML  }}</a>
        {{ end }}
      </div>
    </div>
  </div>


  <div class="container px-4 py-12 mx-auto">
    <p class="text-sm font-light text-white text-center mt-4">
      {{ if (isset .Site.Params "copyright") }}
        {{ .Site.Params.copyright | safeHTML }}
      {{ else }}
        {{ dateFormat "2006" now }} © {{ .Site.Title }}
      {{ end }}
    </p>
  </div>


</footer>
