<style type="text/css">
  .banner {
    background: #fff url("{{ .Params.banner }}") center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
</style>


<div class='banner w-full flex'>
  <section class="mx-auto" data-sal="fade">
    <br>
    <div class="px-4 mx-auto text-center lg:pt-16 lg:px-12" >
      <h1 class="text-4xl mb-4 font-extrabold tracking-tight leading-none">{{ .Params.title }}</h1>
      <h2 class="text-lg mb-8 tracking-tight leading-none ">{{ .Params.heading }}</h1>        


      <div class="aspect-w-16 aspect-h-9 py-4 my-2" style="height: max-content !important;">
        <iframe class="w-full" style="aspect-ratio: 16 / 9 !important;" frameborder="0" src="https://www.youtube.com/embed/{{ if .Params.youtube }}{{ .Params.youtube }}{{ else }}5fL2_ZcRgNQ{{ end }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>

    </div>
  </section>
</div>

